<div class="container mt-5">
  <div *ngIf="!isLoading">
    <div  class="form-group">
      <button class="btn btn-info" [routerLink]="['/new-computer']">Ajouter un computer</button>
    </div>
    <table class="table table-striped table-bordered table-hover">
      <thead class="thead">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Manufacturer</th>
        <th scope="col">Released</th>
        <th scope="col">Discontinued</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let computer of computers">
        <th scope="row">{{ computer.id }}</th>
        <td>{{ computer.name }}</td>
        <td>{{ computer?.company?.name}}</td>
        <td>{{ formatDate(computer?.introduced)  | date}} </td>
        <td>{{ formatDate(computer?.discontinued) | date }}</td>
        <td>
          <button class="btn btn-secondary mr-2 fa fa-pencil-square-o" [routerLink]="['/computers', computer.id]"></button>
          <button class="btn btn-secondary fa fa-trash" (click)="removeComputer(computer.id)"></button>
        </td>
      </tr>
      </tbody>
    </table>
    <app-pagination [pager]="pager" (clickPagination)="switchPagination($event)"></app-pagination>
  </div>
  <div *ngIf="isLoading">
    <div class="loader"></div>
  </div>
</div>

